.side-categories__grid-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	gap: 16px;

	&--wrapper {
		margin-top: 12px;
		margin-bottom: 44px;
	}

	a {
		position: relative;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-align-items: center;
		-moz-box-align: center;
		align-items: center;
		background: #141414;
		border-radius: 8px;
		cursor: pointer;
	}

	span.anticon {
		color: rgba(255,255,255,.45);
		margin-left: auto;
		margin-right: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.side-categories__grid-list {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
}